<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/image/tiendv/favicon.png">
    
    <title>Tiêu đề website</title>
    
    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="public/css/bootstrap-theme.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="public/css/theme.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="public/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="public/js/ie-emulation-modes-warning.js"></script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="public/js/jquery.1.11.3.min.js"></script>
</head>

<body role="document">
    <script type="text/javascript">
      window.___gcfg = {lang: 'vi'};
    
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Fixed navbar -->
    <nav id="top">
        <div class="navbar navbar-inverse __navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <!--<a class="navbar-brand" href="#">Tiêu đề website</a>-->
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" title="Tiêu đề website"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Trang chủ</a></li>
                        <li><a href="#" title="Tiêu đề website"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Giới thiệu</a></li>
                        <li><a href="#" title="Tiêu đề website"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Liên hệ</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#modalRegis"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Đăng ký</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalLogin"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="container">
                <a class="logo" href="#" title="Tiêu đề website"><img src="./public/image/tiendv/datvang.png" title="Tiêu đề website" alt="Tiêu đề website"/></a>
                <a class="bner" href="#" title=""><img src="./public/image/tiendv/banner.jpg" title="" alt=""/></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <span class="button-main-menu-mobile">Danh mục website</span>
                <ul class="nav-main-menu">
                    <li class="active"><a href="#" title="">Menu 1</a></li>
                    <li>
                        <a href="javascript:void(0);" title="">Menu 2</a>
                        <ul>
                            <li><a href="#" title="">Menu con 1</a></li>
                            <li><a href="#" title="">Menu con 2</a></li>
                            <li><a href="#" title="">Menu con 3</a></li>
                            <li><a href="#" title="">Menu con 4</a></li>
                            <li><a href="#" title="">Menu con 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="">Menu 3</a></li>
                    <li>
                        <a href="javascript:void(0);" title="">Menu 4</a>
                        <ul>
                            <li><a href="#" title="">Menu con 1</a></li>
                            <li><a href="#" title="">Menu con 2</a></li>
                            <li><a href="#" title="">Menu con 3</a></li>
                            <li><a href="#" title="">Menu con 4</a></li>
                            <li><a href="#" title="">Menu con 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="">Menu 5</a></li>
                    <li><a href="#" title="">Menu 6</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="wrapper">
        <div class="container">
            <div class="col-md-8 margin-top">
                <div class="row-left m-row-left">
                    <ul class="menu-news-list">
                        <li><a href="#">Thiết kế kiến trúc</a></li>
                        <li class="active"><a href="#">Phong thủy</a></li>
                        <li><a href="#">Không gian sống</a></li>
                    </ul>
                    <div class="news-detail margin-top">
                        <h1 class="news-title">Thiết kế nhà ống 1 tầng thoáng rộng, DT 72m2</h1>
                        <span class="date">06/11/2015 07:55</span>
                        <div class="share ">
                            <div class="g-plus"><div class="g-plusone" data-href="http://datvangbinhduong.com.vn/" data-size="medium"></div></div>
                            <div class="fb-like" data-href="http://datvangbinhduong.com.vn/" data-share="false" data-send="true" data-layout="button_count" data-width="120" data-show-faces="true"></div>
                        </div>
                        <div class="clearfix"></div>
                        <strong>Hỏi: Xin chào kiến trúc sư! Tôi có mảnh đất rộng 6m dài 12m, nay tôi muốn xây một nhà ống một tầng gồm 2 phòng ngủ, 1 phòng khách, khu bếp ăn, phòng tắm và vệ sinh với thiết kế đơn giản, thông thoáng.</strong>
                        <div class="news-detail-content">
                            Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.

                            <br /><br />Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.
                            
                            <br /><br />Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                    <span class="header-title title-menu margin-top"><a href="#">Tin mới nhất</a></span>
                    <div class="news-list-5">
                        <ul class="col-sm-12">
                            <li class="row m-row row-left">
                                <a href="#">
                                    <div class="col-md-4 col-sm-5 text-center">
                                        <img src="./public/image/tiendv/news-1.jpg" width="100%" alt="" title=""/>
                                    </div>
                                    <div class="col-md-8 col-sm-7 row-left m-row-2">
                                        <strong>Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</strong>
                                        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="row m-row row-left">
                                <a href="#">
                                    <div class="col-md-4 col-sm-5 text-center">
                                        <img src="./public/image/tiendv/news-1.jpg" width="100%" alt="" title=""/>
                                    </div>
                                    <div class="col-md-8 col-sm-7 row-left m-row-2">
                                        <strong>Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</strong>
                                        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="row m-row row-left">
                                <a href="#">
                                    <div class="col-md-4 col-sm-5 text-center">
                                        <img src="./public/image/tiendv/news-1.jpg" width="100%" alt="" title=""/>
                                    </div>
                                    <div class="col-md-8 col-sm-7 row-left m-row-2">
                                        <strong>Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</strong>
                                        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="row m-row row-left">
                                <a href="#">
                                    <div class="col-md-4 col-sm-5 text-center">
                                        <img src="./public/image/tiendv/news-1.jpg" width="100%" alt="" title=""/>
                                    </div>
                                    <div class="col-md-8 col-sm-7 row-left m-row-2">
                                        <strong>Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</strong>
                                        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 margin-top">
                <div class="row m-row">
                    <div id="main-search" class="main-search-2">
                        <ul>
                            <li class="active" data-type="0">Nhà bán</li>
                            <li data-type="2">Đất bán</li>
                        </ul>
                        <div class="clearfix"></div>
                        <form>
                            <div class="col-sm-12 form-item">
                                <input type="text" placeholder="Nhập địa điểm"/>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Danh mục BĐS</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Tỉnh thành</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Quận/huyện</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Phường/Xã</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Diện tích</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Mức giá</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select>
                                    <option>Hướng nhà</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select data-type="2">
                                    <option>Số phòng ngủ</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <select data-type="2">
                                    <option>Số phòng khách</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-item">
                                <input type="submit" value="Tìm Kiếm"/>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="row m-row margin-top">
                    <div class="header-title title-star">Tin xem nhiều</div>
                    <div class="clearfix"></div>
                    <ul class="news-list news-list-1">
                        <li>
                            <a href="#" title="">Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</a>
                        </li>
                        <li>
                            <a href="#" title="">Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</a>
                        </li>
                        <li>
                            <a href="#" title="">Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</a>
                        </li>
                        <li>
                            <a href="#" title="">Tin mới nhận trong ngày hôm nay. Tin mới nhận trong ngày hôm nay</a>
                        </li>
                    </ul>
                </div>
                <div class="row m-row margin-top">
                    <span class="header-title title-menu"><a href="#">Danh mục nhà đất</a></span>
                    <div class="clearfix"></div>
                	<ul class="menu-real-estate">
                        <li>
                            <h2><a href="" title="Nhà Lầu">Nhà Lầu</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Nhà Phố, Liên Kế">Nhà Phố, Liên Kế</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Nhà Cấp 4">Nhà Cấp 4</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Nhà Trọ">Nhà Trọ</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Chung Cư, Căn Hộ">Chung Cư, Căn Hộ</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Biệt Thự">Biệt Thự</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Nhà Nghỉ, Khách Sạn">Nhà Nghỉ, Khách Sạn</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Cửa hàng, Văn Phòng">Cửa hàng, Văn Phòng</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Mặt Bằng Xây Dựng">Mặt Bằng Xây Dựng</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Nhà Kho, Nhà Xưởng">Nhà Kho, Nhà Xưởng</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Đất Nền, Đất Ở">Đất Nền, Đất Ở</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Đất Dự Án">Đất Dự Án</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Đất Nông Nghiệp">Đất Nông Nghiệp</a></h2>
                        </li>
                        <li>
                            <h2><a href="" title="Đất Trang Trại">Đất Trang Trại</a></h2>
                        </li>
                	</ul>
                    <div class="clearfix"></div>
                </div>
                <div class="row m-row">
                    <span class="header-title title-support margin-top"><a href="#">Hỗ trợ trực tuyến</a></span>
                    <div class="clearfix"></div>
                    <ul class="support margin-top">
                        <li>
                            <div class="name">Đỗ Văn Tiến</div>
                            <div class="email"><a rel="nofollow" href="mailto:dovantien2911@gmail.com">dovantien2911@gmail.com</a></div>
                            <div class="yahoo">
                                <a rel="nofollow" href="ymsgr:sendim?dovantien2911">
            						<img align="absmiddle" border="0" src="http://opi.yahoo.com/online?u=dovantien2911&amp;m=g&amp;t=1&amp;l=us">
            					</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="phone">0913 729 900</div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="name">Đỗ Văn Tiến</div>
                            <div class="email"><a rel="nofollow" href="mailto:dovantien2911@gmail.com">dovantien2911@gmail.com</a></div>
                            <div class="yahoo">
                                <a rel="nofollow" href="ymsgr:sendim?dovantien2911">
            						<img align="absmiddle" border="0" src="http://opi.yahoo.com/online?u=dovantien2911&amp;m=g&amp;t=1&amp;l=us">
            					</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="phone">0913 729 900</div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>  
                </div>
                <div class="row m-row margin-top">
                    <div class="qcao-right">
                        <a href="#" title="" target="_blank"><img width="100%" src="./public/assets/banner/bnr-1.jpg" title="" alt=""/></a>
                    </div>                  
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="main-menu margin-top">
            <div class="container">
                <ul class="nav-main-menu">
                    <li class="active"><a href="#" title="">Menu 1</a></li>
                    <li><a href="#" title="">Menu 2</a></li>
                    <li><a href="#" title="">Menu 3</a></li>
                    <li><a href="#" title="">Menu 4</a></li>
                    <li><a href="#" title="">Menu 5</a></li>
                    <li><a href="#" title="">Menu 6</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="col-sm-3 margin-top">
                <a class="logo" href="#" title="Tiêu đề website"><img width="100%" src="./public/image/tiendv/datvang.png" title="Tiêu đề website" alt="Tiêu đề website"/></a>
            </div>
            <div class="col-sm-9 margin-top">
                <div class="text-left">
                    <div class="info_footer">
                        <p>Giấy phép hoạt động trang tin điện tử ICP số 23/GP-TTĐT.</p>
                        <p>Copyright © 2010 - 2015 Dothi.net. ® Ghi rõ nguồn "Dothi.net" khi phát hành lại thông tin từ website này.</p>
                        <p class="info_ct">
                            <span>Hot line:  0903 236 862 - 0969 980 365 - 093 205 141</span>
                        </p>
                        <p class="info_ct">
                             <a style="border:none;margin:0;padding:0" rel="nofollow" href="mailto:cskh@info@dothi.net?Subject=Liên hệ-info@dothi.net" target="_top">Email: info@dothi.net</a>
                            <a href="skype:cskh.dothinet?chat" rel="nofollow">Skype: cskh.dothinet</a>
                            <a href="ymsgr:sendim?cskh.dothinet" rel="nofollow">Yahoo: cskh.dothinet</a>
                        </p>
                        <p class="info_ct">
                            <span>Địa chỉ: Số 80B - Nguyễn Văn Cừ - Long Biên - HN.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="margin-top hr-info"></div>
            <div class="web-info text-left">
                Thiết kế website: <a href="#">Webbox</a>
                <div class="g-plus"><div class="g-plusone" data-href="http://datvangbinhduong.com.vn/" data-size="medium"></div></div>
                <div class="fb-like" data-href="http://datvangbinhduong.com.vn/" data-share="false" data-send="true" data-layout="button_count" data-width="120" data-show-faces="true"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="modalRegis" tabindex="-1" role="dialog" aria-labelledby="modalRegisLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalRegisLabel">Đăng ký tài khoản</h4>
                </div>
                <div class="modal-body">
                    <form>
                    	<div class="form-group">
                    		<label for="inputName">
                    			Họ tên
                    		</label>
                    		<input type="name" class="form-control" id="inputName" placeholder="Name">
                    	</div>
                    	<div class="form-group">
                    		<label for="inputEmail">
                    			Email address
                    		</label>
                    		<input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    	</div>
                    	<div class="form-group">
                    		<label for="inputPassword">
                    			Password
                    		</label>
                    		<input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    	</div>
                    	<div class="form-group">
                    		<label for="inputPhone">
                    			Phone number
                    		</label>
                    		<input type="phone" class="form-control" id="inputPhone" placeholder="Phone">
                    	</div>
                    	<div class="form-group more">
                    		<label>
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modalLogin" class="close" data-dismiss="modal" aria-label="Close">Đã có tài khoản</a>
                            </label>
                    	</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLoginLabel">Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <form>
                    	<div class="form-group">
                    		<label for="inputName">
                    			Username
                    		</label>
                    		<input type="name" class="form-control" id="inputName" placeholder="Name">
                    	</div>
                    	<div class="form-group">
                    		<label for="inputPassword">
                    			Password
                    		</label>
                    		<input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    	</div>
                    	<div class="form-group more">
                    		<label>
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modalForget" class="close" data-dismiss="modal" aria-label="Close">Quên mật khẩu?</a>&nbsp;&nbsp;/&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#modalRegis" class="close" data-dismiss="modal" aria-label="Close">Đăng ký tài khoản</a>
                            </label>
                    	</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalForget" tabindex="-1" role="dialog" aria-labelledby="modalForgetLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalForgetLabel">Quên mật khẩu</h4>
                </div>
                <div class="modal-body">
                    <form>
                    	<div class="form-group">
                    		<label for="inputEmail">
                    			Email
                    		</label>
                    		<input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    	</div>
                    	<div class="form-group more">
                    		<label>
                                <a href="#" data-toggle="modal" data-target="#modalLogin" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Đăng nhập</a>
                    		</label>
                    	</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send request</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
    
    <div id="siteLeft" style="display: none">
        <div class="bnScroll" id="bnLeft" style="width: 100px">
            <div class="item">
                <a id="ban_l1" href="http://file.dothi.net/KM/tung-bung-khuyen-mai-uu-dai-dac-biet-tu-dothi-net.html" rel="nofollow" target="_blank" style="width: 100px;">
                    <img src="http://dothi.net/Images/banner/banner-ThuHT-151022-100x300.gif" />
                </a>
            </div>
        </div>
    </div>
    <div id="siteRight" style="display: none">
        <div class="bnScroll" id="bnRight" style="width: 100px">
            <div class="item">
                <a id="ban_r1" href="http://file.dothi.net/KM/tung-bung-khuyen-mai-uu-dai-dac-biet-tu-dothi-net.html" rel="nofollow" target="_blank" style="width: 100px;">
                    <img src="http://dothi.net/Images/banner/banner-ThuHT-151022-100x300.gif" />
                </a>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/docs.min.js"></script>
    <script src="public/js/script.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="public/js/ie10-viewport-bug-workaround.js"></script>
    
</body>
</html>
